<?xml version="1.0" encoding="UTF-8"?>
<konfiguracija>
    <baza>
        <url>jdbc:h2:./InfluencerDB</url>
        <korisnickoIme>sa</korisnickoIme>
        <lozinka></lozinka>
    </baza>
    <ekran>
        <sirina>1280</sirina>
        <visina>800</visina>
    </ekran>
    <youtube>
        <apiKey>AIzaSyBDLu7YbUskc3KyEi1YwqxIT0iTYyYON0w</apiKey>
    </youtube>
</konfiguracija>
